:root {

/*    Primary colors*/
    --primary-soft-bule: hsl(215, 51%, 70%);
    --primary-cyan: hsl(178, 100%, 50%);

/*    Neutral colors */
    --neutral-very-dark-blue-BG: hsl(217, 54%, 11%);
    --neutral-very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --neutral-very-dark-blue-line: hsl(215, 32%, 27%);
    --neutral-white: hsl(0, 0%, 100%);

/*    Typography*/
    --paragraph-font-size: 18px;

/*    Fonts*/
    --primary-font-family: Outfit;
    --small-font-weight: 300;
    --normal-font-weight: 400;
    --large-font-weight: 600;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font-family);
}

body {
    background-color: var(--neutral-very-dark-blue-BG);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main {
    width: 320px;
    height: 550px;
    /*background-color: red;*/
    border-radius: 15px;
    background-color: var(--neutral-very-dark-blue-card-bg);
}

.card {

}

.card-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.card-info .main-img {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 300px;
    position: relative;


}
.main-img .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 10px;
    background-color: hsla(178, 100%, 50%, 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.main-img .overlay img{
    width: 40px;
    height: 40px;
}
.main-img:hover .overlay {
    opacity: 1;
    cursor: pointer;
}
.main-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 1;
    position: relative;
}

.card-info .title {
    color: var(--neutral-white);
    font-weight: var(--large-font-weight);
    font-family: var(--primary-font-family);

}
.card-info .title:hover {
    color: var(--primary-cyan);
    cursor: pointer;
}
.card-info .description {
    color: var(--neutral-very-dark-blue-line);
    font-size: 1rem;

}

.price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}


.price-info .value {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.price-info .value span {
    color: var(--primary-cyan);
    font-size: 14px;
}
.price-info .days-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.price-info .days-left span {
    font-size: 16px;
    color: var(--neutral-very-dark-blue-line);
}

.line {
    border-bottom: 1px solid var(--neutral-very-dark-blue-line);
    width: 100%;
}

.profile-info {
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.profile-info img {
    object-fit: cover;
    height: 100%;
    width: 10%;
    border: 2px solid white;
    border-radius: 50%;
}
.profile-info .creator-name{
    font-size: 16px;
    color: var(--neutral-very-dark-blue-line);
}

.creator-name span {
    font-size: 14px;
    font-weight: var(--normal-font-weight);
    color: var(--neutral-white);
}
.creator-name span:hover {
    color: var(--primary-cyan);
    cursor: pointer;
}

@media screen and (max-width: 375px){
    main {
        height: 560px;
    }
    .card-info .title {
        font-size: 1.5rem;
    }

    .card-info .description {
        font-size: 17px;
        /*color: var(--neutral-very-dark-blue-line);*/
        font-weight: var(--small-font-weight);
    }
}